<div class="event list">
  <h1>Event List</h1>
  <% @events.each do |event| %>
    <strong><%= link_to event.name, event %><br></strong>
  <% end %><br>
  <li><%= link_to "Created Events", "/users/show"  %></li>
</div>