<div class="event list">
  <h1>Upcoming Events</h1>
  <% @events.upcoming.each do |event| %>
    <strong><%= link_to event.name, event %></strong><br>
  <% end %>
  <h1>Past Events</h1>
  <% @events.past.each do |event| %>
    <strong><%= link_to event.name, event %></strong><br>
  <% end %><br>
  <li><%= link_to "New Event", "/events/new" %></li>
  <li><%= link_to "My Events List", current_user %></li>
</div>