<div class="event list">
  <h1>Event List</h1>
  <% @events.each do |event| %>
    <strong><%= link_to event.name, event %></strong><br>
  <% end %><br>
  <li><%= link_to "New Event", "/events/new"  %></li>
  <li><%= link_to "My Events List", current_user %></li>
</div>